
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* 用户注册页面 验证码*/
.register-page {
  img.captcha {
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
}

// footer

// edit container
.edit-container {
        height:0px;
        padding-bottom:100%;
        background:#3490dc;

}
